fastapi
joblib
argparse
Werkzeug
pandas
numpy
colored
pytz
tensorflow-cpu
dnspython
pymongo[srv]
scikit_learn==1.2.2
python-multipart
gunicorn
uvicorn
orjson
pydantic_settings
fastapi_azure_auth
openpyxl